
<div class="navigation">
    <div class="divBtn">
        <a href="{{path('adminPanel')}}" class="btn btnPage mr-3">Accueil</a>
        <a href="{{path('admin_logout')}}" class="btnPage btn">Deconnexion</a>
    </div>
</div>